In [2]:
import pandas as pd
import numpy as np
import pydataset

from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [6]:
# 1. Load the tips dataset.
tips = pydataset.data('tips')
df= tips

In [7]:
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
# a. Create a column named tip_percentage. This should be the tip amount
# divided by the total bill.
df['tip_percentage'] = df['tip']/df['total_bill']
df.head()

   total_bill   tip     sex smoker  day    time  size  tip_percentage
1       16.99  1.01  Female     No  Sun  Dinner     2        0.059447
2       10.34  1.66    Male     No  Sun  Dinner     3        0.160542
3       21.01  3.50    Male     No  Sun  Dinner     3        0.166587
4       23.68  3.31    Male     No  Sun  Dinner     2        0.139780
5       24.59  3.61  Female     No  Sun  Dinner     4        0.146808

In [13]:
# b. Create a column named price_per_person. This should be the total 
# bill divided by the party size.
df['price_per_person']= df['total_bill']/df['size']
df.head()

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,0.059447,8.495000
2,10.34,1.66,Male,No,Sun,Dinner,3,0.160542,3.446667
3,21.01,3.50,Male,No,Sun,Dinner,3,0.166587,7.003333
4,23.68,3.31,Male,No,Sun,Dinner,2,0.139780,11.840000
5,24.59,3.61,Female,No,Sun,Dinner,4,0.146808,6.147500

In [ ]:
# c. Before using any of the methods discussed in the lesson, which features do you think 
# would be most important for predicting the tip amount? The tip percentage?
# total_bill, party size and time of meal

In [ ]:
#d. Use select k best and recursive feature elimination to select the top 2 features for 
# predicting tip amount. What are they?

In [ ]:
# e. Use select k best and recursive feature elimination to select the 
# top 2 features for predicting tip percentage. What are they?

In [ ]:
# f. Why do you think select k best and recursive feature elimination 
# might give different answers for the top features? Does this change 
# as you change the number of features your are selecting?

In [ ]:
# 2. Write a function named select_kbest that takes in the predictors 
# (X), the target (y), and the number of features to select (k) and 
# returns the names of the top k selected features based on the 
# SelectKBest class. Test your function with the tips dataset. You 
# should see the same results as when you did the process manually.

In [ ]:
# 3. Write a function named rfe that takes in the predictors, the target, 
# and the number of features to select. It should return the top k 
# features based on the RFE class. Test your function with the tips 
# dataset. You should see the same results as when you did the process 
# manually.

In [ ]:
# 4. Load the swiss dataset and use all the other features to predict 
# Fertility. Find the top 3 features using both select k best and 
# recursive feature elimination (use the functions you just built to help 
# you out).